# Methods of Sets

In [75]:
s1={10,20,30,70,80,90,'Hema','Astha','Aman'}

# 1. add()

In [2]:
s1.add(100)        #add an element to the set
s1

{10, 100, 20, 30, 70, 80, 90, 'Aman', 'Astha', 'Hema'}

# 2. clear()

In [5]:
s1.clear()       #remove all that elements from the set
s1

set()

# 3. copy()

In [7]:
s1.copy()             #return a copy of set

{10, 20, 30, 70, 80, 90, 'Aman', 'Astha', 'Hema'}

# 4.difference()

In [37]:
s2={2,5,7,8,9,1,70,20}

In [10]:
s1.difference(s2)             #Return a set containing the diffrence between two or more sets.

{10, 30, 80, 90, 'Aman', 'Astha', 'Hema'}

In [11]:
s1                             #no changes in original data

{10, 20, 30, 70, 80, 90, 'Aman', 'Astha', 'Hema'}

# 5. difference_update()

In [13]:
s1.difference_update(s2)           #remove the items from s1 set that are included in s2 set. 
s1

{10, 30, 80, 90, 'Aman', 'Astha', 'Hema'}

# 6. discard()

In [15]:
s1.discard('Hema')                #Remove the specified item from set

In [16]:
s1

{10, 20, 30, 70, 80, 90, 'Aman', 'Astha'}

In [76]:
s1.discard('form')                  #If the element is not present in the set, 
                                    #then no error or exception is raised and the original set is printed.
s1

{10, 20, 30, 70, 80, 90, 'Aman', 'Astha', 'Hema'}

# 7. intersection()

In [18]:
s1.intersection(s2)           #return a common items between two sets.

{20, 70}

In [19]:
s1                             #no changes in original datas1

{10, 20, 30, 70, 80, 90, 'Aman', 'Astha', 'Hema'}

# 8. intersection_update()

In [20]:
s1.intersection_update(s2)        #remove the items from s1 set that are not included in s2 set.
s1

{20, 70}

In [21]:
s1

{20, 70}

# 9. isdisjoint()

In [31]:
s1.isdisjoint(s2)     #Return true if two sets have no intersection items else false

False

In [32]:
s3={1,2}

In [33]:
s1.isdisjoint(s3)

True

# 10. issubset()

In [38]:
s4={20,30,90,'Hema'}

In [39]:
s4.issubset(s1)             #Return True if all items of set s4 present in set s1

True

In [40]:
s2.issubset(s1)              #else return false

False

# 11. issuperset()

In [41]:
s1.issuperset(s4)              #Return True if all items of set s4 present in set s1.

True

In [42]:
s1.issuperset(s2)             #else return false

False

# 12. pop()

In [43]:
s1.pop()                        #Remove a random item from the set. Bydefault remove and return last item of the set.

'Hema'

In [44]:
s1

{10, 20, 30, 70, 80, 90, 'Aman', 'Astha'}

# 13. remove()

In [47]:
s1.remove('Aman')             #Removed a specified item from set

In [48]:
s1

{10, 20, 30, 70, 80, 90, 'Astha', 'Hema'}

In [77]:
s1.remove('form')             #If the element is not present in the set, then an error or exception is raised

KeyError: 'form'

# 14. symmetric_difference()

In [52]:
s1.symmetric_difference(s2)  #Return a set that contains all items from both sets, except items that are present in both sets.

{1, 10, 2, 30, 5, 7, 8, 80, 9, 90, 'Aman', 'Astha', 'Hema'}

In [55]:
s1.symmetric_difference(s4)

{10, 70, 80, 'Aman', 'Astha'}

# 15. symmetric_difference_update()

In [58]:
s1.symmetric_difference_update(s3) #Remove the items that are present in both sets and insert the items that is not present in both sets

In [59]:
s1

{1, 10, 2, 20, 30, 70, 80, 90, 'Aman', 'Astha', 'Hema'}

In [64]:
s1.symmetric_difference_update(s2)

In [65]:
s1

{1, 10, 2, 30, 5, 7, 8, 80, 9, 90, 'Aman', 'Astha', 'Hema'}

# 16. union()

In [66]:
s1.union(s2)                #Return a set that contains all items from both sets, duplicates are excluded

{1, 10, 2, 20, 30, 5, 7, 70, 8, 80, 9, 90, 'Aman', 'Astha', 'Hema'}

In [69]:
s1.union(s4)

{10, 20, 30, 70, 80, 90, 'Aman', 'Astha', 'Hema'}

# 17. update()

In [73]:
s1.update(s2)   #update() method updates the current set, by adding items from another set.
                #If an item is present in both sets, only one appearance of this item will be present in the updated set.

In [74]:
s1

{1, 10, 2, 20, 30, 5, 7, 70, 8, 80, 9, 90, 'Aman', 'Astha', 'Hema'}