# Methods of String

In [17]:
a='My name is Hemlata'
b='my name is hemlata'

# 1. capitalize()

In [7]:
b.capitalize() #capitalize method convert the first character of a string in to capital letter.

'My name is hemlata'

# 2. center()

In [27]:
a.(22,'*') #Center() method will center align the string using a specified character.

'**My name is Hemlata**'

In [28]:
a.center(21,'*')  #center(length of string,'fill the missing space on each side'). 
                  #First fill left side then right side as per lenght requirement.

'**My name is Hemlata*'

# 3. find()

In [32]:
a.find('name') #find() method return an index value if specified string found in a string.

3

In [34]:
a.find('a',5,16)

15

In [31]:
a.find('for')   #if value is not found then return -1.

-1

# 4. index()

In [36]:
a.index('for')   #index() method is similar to find(). 
                 #The only difference is that find() method return -1 if string is not found and index() return an error.

ValueError: substring not found

In [37]:
a.index('name')

3

# 5. isalnum() and islower()

In [42]:
a.isalnum() #Return True if all character in the string are alphanumeric.

False

In [40]:
b.islower()  #Return True if all character in the string are lower case.

True

In [41]:
a.islower()

False

# 6. partition()

In [50]:
a.partition('is')  #Return a tuple where the string is parted into three parts.

('My name ', 'is', ' Hemlata')

In [51]:
a.partition('name')

('My ', 'name', ' is Hemlata')

# 7. replace()

In [52]:
a.replace('Hemlata','Astha') #Returns a string where a specified value is replaced with a specified value.

'My name is Astha'

# 8. split() and splitlines()

In [72]:
c='My name is Hemlata.''Astha and Aman are my roommates.'

In [73]:
c.split()  #Split the string at the specified seperator and return a list.

['My', 'name', 'is', 'Hemlata.Astha', 'and', 'Aman', 'are', 'my', 'roommates.']

In [74]:
c.splitlines()  #Splits the string at line breaks and retuns a list.

['My name is Hemlata.Astha and Aman are my roommates.']

# 9. swapcase()

In [75]:
a.swapcase()

'mY NAME IS hEMLATA'

In [76]:
b.swapcase()

'MY NAME IS HEMLATA'

# 10. zfill()

In [81]:
a.zfill(25)   #Return a string with '0' chararcters padded to the leftside of the original string. zfill(length of the char)

'0000000My name is Hemlata'